<ion-view title="Buscar Prato" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="buscarPrato-list1">
      <label class="item item-select" id="buscarPrato-select2">
        <span class="input-label">Listar</span>
        <select></select>
      </label>
      <ion-item class="item-thumbnail-left" id="buscarPrato-list-item1">
        <img src="img/ZtesnALTVX8aNzkEZJQK_download.jpg">
        <h2>Feijoada</h2>
        <p>Mineira</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="buscarPrato-list-item2">
        <img src="img/aukGYqrQSmsxNneytD0M_acem-assado-na-panela-de-pressao.jpg">
        <h2>Assado de Panela</h2>
        <p>Bife especial</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="buscarPrato-list-item3">
        <img src="img/mwQOn57OR3umB6DRsCjG_maxresdefault.jpg">
        <h2>Pizza</h2>
        <p>Calabreza</p>
      </ion-item>
    </ion-list>
    <div id="buscarPrato-button-bar1" class="button-bar"></div>
  </ion-content>
</ion-view>